:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --fs-200: clamp(0.78rem, calc(0.68rem + 0.48vw), 1.11rem);
  --fs-300: clamp(0.88rem, calc(0.77rem + 0.54vw), 1.25rem);
  --fs-400: clamp(0.98rem, calc(0.86rem + 0.6vw), 1.41rem);
  --fs-500: clamp(1.11rem, calc(0.97rem + 0.68vw), 1.58rem);
  --fs-600: clamp(1.25rem, calc(1.09rem + 0.76vw), 1.78rem);
  --fs-700: clamp(1.4rem, calc(1.23rem + 0.86vw), 2rem);
  --fs-800: clamp(1.58rem, calc(1.38rem + 0.97vw), 2.25rem);
  --ff-heading: "Syne", sans-serif;
  --ff-base: "Inter", sans-serif;
  --fw-base-200: 200;
  --fw-400: 400;
  --fw-500: 500;
  --fw-heading-700: 700;
  --clr-blackDark: hsl(0, 0%, 7%);
  --clr-blackLight: hsl(0, 0%, 15%);
  --clr-gray: hsla(0, 0%, 67%, 0.5);
  --clr-white: hsl(67, 100%, 98%);
  --clr-pink: hsl(294, 90%, 85%);
  --clr-purple: hsl(263, 82%, 75%);
  --clr-yellow: hsl(54, 100%, 78%);
  --clr-orange: hsl(34, 91%, 65%);
  --clr-redish: hsl(0, 82%, 75%);
  --clr-tan: hsl(357, 41%, 73%);
  --nav-height: 6rem;
  --radius: 0.3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-blackDark);
  font-family: var(--ff-base);
  font-size: var(--fs-200);
  color: var(--clr-white);
}

.navbar {
  width: 100vw;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 4rem;
  font-family: var(--ff-heading);
  font-weight: 700;
}
.navbar .logo {
  letter-spacing: 0.125rem;
  font-size: var(--fs-800);
  color: transparent;
  background-image: linear-gradient(135deg, rgb(247, 176, 84) 0%, rgb(214, 157, 160) 25%, rgb(243, 137, 137) 50%, rgb(221, 161, 144) 75%, rgb(247, 176, 84) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.navbar .cartIndicator {
  position: relative;
}
.navbar .cartIndicator #cartIcon {
  font-size: var(--fs-600);
  z-index: 10;
  color: var(--clr-tan);
  cursor: pointer;
}
.navbar .cartIndicator #cartAmount {
  width: 1.35rem;
  height: 1.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: hsla(66, 100%, 98%, 0.1);
  color: var(--clr-white);
  padding: 0.75rem;
  border-radius: 100%;
  position: absolute;
  top: -17px;
  right: -17px;
  font-size: var(--fs-300);
}

.cartContainer {
  width: 100vw;
  height: calc(100vh - var(--nav-height));
  display: flex;
  justify-content: center;
}

.product {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.35rem;
  background-color: var(--clr-blackLight);
  border-radius: var(--radius);
}
.product .productInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10vmax;
}
.product .productInfo .productDesc .productRef {
  color: var(--clr-gray);
  font-weight: var(--fw-400);
  font-family: var(--ff-heading);
}
.product .productInfo .productDesc .productName {
  font-weight: var(--fw-heading-700);
  font-size: var(--fs-600);
  margin-block: 0.35rem;
}
.product .productInfo .productDesc .productPrice {
  font-weight: var(--fw-400);
  font-size: var(--fs-500);
}
.product .productInfo .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2vmax;
  font-size: var(--fs-300);
}
.product .productInfo .quantity .quantityBtn {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: var(--fs-800);
  color: var(--clr-gray);
  cursor: pointer;
  transition: color 0.3s ease;
}
.product .productInfo .quantity .quantityBtn:hover {
  color: var(--clr-white);
}/*# sourceMappingURL=index.css.map */