:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --fs-200: clamp(0.78rem, calc(0.68rem + 0.48vw), 1.11rem);
  --fs-300: clamp(0.88rem, calc(0.77rem + 0.54vw), 1.25rem);
  --fs-400: clamp(0.98rem, calc(0.86rem + 0.6vw), 1.41rem);
  --fs-500: clamp(1.11rem, calc(0.97rem + 0.68vw), 1.58rem);
  --fs-600: clamp(1.25rem, calc(1.09rem + 0.76vw), 1.78rem);
  --fs-700: clamp(1.4rem, calc(1.23rem + 0.86vw), 2rem);
  --fs-800: clamp(1.58rem, calc(1.38rem + 0.97vw), 2.25rem);

  --ff-heading: "Syne", sans-serif;
  --ff-base: "Inter", sans-serif;

  --clr-white: hsl(67, 100%, 98%);
  --clr-black: #121212;
}

body {
  background-color: var(--clr-black);

  font-family: var(--ff-base);
  font-size: var(--fs-200);

  color: var(--clr-white);
}
